.card {
  margin-bottom: 2rem;
  background: var(--mainWhite);
  padding: 1rem;
  text-align: center;
}
.info {
  padding: 1rem 0;
}
.info h2 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.info h6 {
  color: var(--darkGrey);
  text-transform: capitalize;
}
.info p {
  padding: 20px 0 30px 0;
  text-align: left;
}
.link {
  border: 1px solid var(--mainBlack);
  padding: 4px 8px;
  display: inline-block;
  color: var(--mainBlack);
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
@media screen and (min-width: 776px) {
  .card {
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .info {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
  }
  .image > div {
    height: 250px;
  }
}
